/* Responsive Styles Laptop/ Desktop (Up to 1400px) */


/* Responsive Styles for Tablet (Up to 1440px) */
@media only screen and (max-width: 1440px) {
	#tr_header::after {
		width: 100%;
	}
}

/* Responsive Styles Laptop/ Desktop (Up to 1366px) */
@media only screen and (max-width: 1366px) {
 #tr_header::after {
    width: 100%;
  }

  .counter_item i {
        margin-bottom: 14px;
    }
  .counter_item {
        width: 250px;
        height: 250px;
    }
    .counter_item h4 {
     font-size: 36px;
    }

	.plane {
		top: -6px;
		width: 43px;
	}
	.tr_cta h2 {
		font-size: 24px;
	}
	.acti_content{
		bottom: 10px;
	}
	
	.pack_price::after{
		display: none;
	}
    .footer_gallery {
        gap: 11px;
    }
}

/* Responsive Styles for Tablet (Up to 1280px) */
@media only screen and (max-width: 1280px) {
	.header_right .cart_search {
		position: relative;
		gap: 17px;
		padding-left: 12px;
		padding-right: 12px;
	}	
}

/* Responsive Styles for Tablet (Up to 1199px) */
@media only screen and (max-width: 1199px) {
    #tr_header::after {
        border-radius: 0;
    }
    .header_right .cart_search {
        gap: 34px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .header_right .hcart {
	    padding-right: 28px;
    }
    .hcart span {
        right: 18px;
    }
	.about_image{
		padding-bottom: 60px;
	}
    .about_content  .section-heading span{
        background-color: var(--white);
    }
	.acti_content {
		bottom: 23px;
		width: 90%;
	}
    .sfeature_item{
        margin-top: 15px;
    }
	.plane {
		top: -34px;
		right: 25px;
		width: 60px;
	}
	.tr_cta h2 {
		font-size: 28px;
	}
     .news_plane {
        top: 46%;
        left: 34px;
    }
    .news_image {
        width: 186px;
    }
}

/* Responsive Styles for Tablet and Mobile (Up to 1024px) */
@media only screen and (max-width: 1024px) {
  
}
/* For screens larger than 1024px */
@media only screen and (max-width: 1024px) {
  .tour_sidebar {
    display: none;
  }
 .tour_content{
    padding-left: 0;
    max-width: 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 101%;
  }
}


/* For screens 991px */
@media only screen and (max-width: 991px) {
	#tr_header {
		padding: 17px 0;
		margin-top: -50px;
		margin-bottom: -25px;
	}    
	.slider_item .subheading, 
    .banner_content .subheading {
        margin-bottom: 16px;
        font-size: 21px;
    }
    .slider_item h1.heading, 
    .home_banner h1 {
        margin-bottom: 19px;
        font-size: 45px;
    }
	.banner_content {
		margin-bottom: 50px;
	}
    .slider_item p, 
    .banner_content p {
        margin-bottom: 37px;
    }  
    .sf_item {
        padding-right: 20px;
    }
    .news_plane,
    .news_image{
        display: none;
    }
	.pack_price::after{
		display: none;
	}
   .newsletter_area {
        padding: 40px;
    } 
    .news_shape {
        left: 0;
    }
    .horizontal_style .sf_item{
        width: 100%;
        position: relative;
        margin-bottom: 20px;
        border-bottom: 1px solid var(--dd);
        padding-bottom: 20px;
        position: relative;
        padding-top: 0;
        padding-right: 0;
    }
    .horizontal_style {
        padding: 30px;
    }
    .horizontal_style .sf_item::after {
        display: none;
    }
    .horizontal_style .sf_item i {
        position: absolute;
        right: 0;
        top: 15px;
        z-index: 11;
    }
    .horizontal_style button {
        border-radius: 8px;
        width: 100%;
    }
	.testimonials_image_slider .tlocation,
   .testimonials_image_slider img{
	   display: none;
   }
   .testimonials_item p {
		font-size: 18px;
	}
	.testimonials_item h4 {
		font-size: 16px;
	}
   .test_arrow {
		margin-left: 0;
		margin-top: 30px;
	}
	.activity_slider{
		overflow:hidden;
	}
	.stour_sidebar{
		margin-top: 60px;
	}
	.stour_widget{
		margin-left: 0;
	}
	.sdt_arrow_prev, 
	.sdt_arrow_next{
		display: none;
	}
	.sidebar-area{
		padding-top: 50px;
	}
	.home_banner .bplane{
		display: none;
	}
	.header_right .cart_search::before {
        background: transparent; 
    }
}

/* For screens 768px */
@media only screen and (max-width: 768px){
	#tr_header {
		padding: 30px 0;
		margin-top: -50px;
		margin-bottom: -25px;
	} 
	.header_right{
		gap: 34px;
	}
	.header_right .hcart {
		padding-right: 40px;
	}	
	.hcart span {
		right: 32px;
	}
	.header_right .cart_search {
		gap: 45px;
		padding-left: 0;
		padding-right: 0;
	}
	.site_logo {
        margin-bottom: 20px;
    }
    .harrow{
        display: none;
    }
    .travel_category .section-heading {
        margin-bottom: 30px;
    }
	.vgarrow{
		display: none;
	}
	.plane {
		top: 0px;
		right: 25px;
		width: 46px;
	}
	.tr_cta h2 {
		font-size: 24px;
		line-height: 35px;
	}
	.ab_img_1,
	.ab_img_2{
		width: 60%;
	}
	.ab_img_3 {
		width: 208px;
	}
	.package_nav{
		border-radius: 8px;
		padding: 10px;
	}
	.package_nav li {
		padding: 5px 20px;
		border-radius: 4px;
	}
	.guarrow_left, 
	.guarrow_right{
		display: none;
	}
	.bplane{
		display: none;
	}

}
/* For screens 534px */
@media (max-width: 534px) {

}
/* For screens 480px */
@media (max-width: 480px) {
	.header_right {
		gap: 27px;
	}
	.newsletter_area h2 {
		font-size: 27px;
	}
	.newsletter_area input[type="text"], 
	.newsletter_area input[type="email"] {
		font-size: 14px;
	}
	.newsletter_area input[type="submit"], 
	.newsletter_area button {
		padding: 10px 19px;
	
	}
}
