/* Responsive Styles Laptop/ Desktop (Up to 1400px) */


/* Responsive Styles for Tablet (Up to 1440px) */
@media only screen and (max-width: 1440px) {
	#tr_header::after {
		width: 100%;
	}
}

/* Responsive Styles Laptop/ Desktop (Up to 1366px) */
@media only screen and (max-width: 1366px) {
 
}

/* Responsive Styles for Tablet (Up to 1280px) */
@media only screen and (max-width: 1280px) {
	
}

/* Responsive Styles for Tablet (Up to 1199px) */
@media only screen and (max-width: 1199px) {
	.slider_item h1.heading {
		font-size: 47px;
		line-height: 62px;
	}
	.slider_image {
		width: 52%;
	}
	.vbtn {
		left: 30%;
	}

	.blog_img {
		margin-bottom: 15px;
	}
}

/* Responsive Styles for Tablet and Mobile (Up to 1024px) */
@media only screen and (max-width: 1024px) {
  .harrows{
	display: none;
  }
  .slider_image{
	display: none;
  }
  
}

/* For screens 991px */
@media only screen and (max-width: 991px) {
	.program-image img{
		width: 100%;
	}
	.pricing_item h3,
	.pricing_item ul,
	.pricing_item .price {
		margin-bottom: 15px;
	}
	.pricing_item ul{
		padding-left: 35px;
	}
	.testimonial_item p {
		width: 86%;
	}
	.event_img{
		width: 150px;
  		height: 150px;
	}
	.event_img::before {
		width: 175px;
		height: 175px;
	}
	.counter_item{
		border: inherit;
		padding: 10px;
	}
	.counterup_inner{
		padding-bottom: 25px;
	}

	

}

/* For screens 768px */
@media only screen and (max-width: 768px){
	
	.event_slider{
	}
}
/* For screens 534px */
@media (max-width: 534px) {
	.pricing_item ul {
		display: block;
		line-height: 33px;
	}
}
/* For screens 480px */
@media (max-width: 480px) {

}
