/*
Main Style
*/


/*** Global CSS ***/

:root {
  --fontLato: "Lato", sans-serif;
  --white: #fff;
  --title: #222;
  --body: #444;
  --rating: #ffc107;
  --blue: #015FC9;
  --yellow: #FE9D3D;
  --ff5: #FF5A24;
  --2c2b: #2c2b49;
  --gray: #F2F7FC;
  --dd: #ddd;
  --dc: #dcdcdc;
  --777: #777;
  --f7: #f7f7f7;
  --f9: #f9f9f9;
  --e5: #e5e5e5;
  --26: #262626;
  --rating: #FF8A00;
  --red: #E84946;
  --orange: #FF7300;
  --red2: #ff3333;
  --blue: #2E80EC;
  --overlay: #0A2640;
  --footer: #042023;
  --fd: #FDEAFF;
  --db: #DB3BEB;
  --ef: #EFFFEC;
  --4d: #4DA627;
  --ff: #FFF2EA;
  --f3: #F38035;
  --box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.06);
  --shadow-2: 0 6px 35px rgba(215,216,222,0.3);
  --shadow-3: 0 10px 50px 0 rgba(26,46,85,.07);
  --Y5: translateY(-5px);
}


body{
	color: var(--body);
	overflow-x: hidden;
	font-size: 16px;
	font-family: var(--fontLato);
	font-weight: 400;
	line-height: 1.8;
	position: relative;
}

h1,
h2, 
h3, 
h4, 
h5, 
h6{
	color: var(--title);
    font-family: var(--fontLato);
	font-weight: 700;
	line-height: auto;
}

html,
body {
	position: relative;
}
img{
    max-width: 100%;
}
a{
	text-decoration: none;
	color: var(--body);
	transition: .5s;
}
a:hover,
a:focus{
	color: var(--orange);
}

.section-padding{
	padding: 100px 0;
}

.section-heading{
	margin-bottom: 60px;
	display: block;
}
.section-heading span {
	font-size: 15px;
	color: var(--orange);
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 5px;
	display: block;
}
.section-heading h2{
	display: block;
	color: var(--title);
	margin-bottom: 7px;
	font-size: 32px;
}
.gray_section{
	background-color: var(--gray);
}
.gray_section .section-heading span{
	background: var(--white);
}
.mt100{
	margin-top: 100px;
}
.mb-60{
	margin-bottom: 60px;
}
.pt100{
	padding-top: 100px;
}
.pb100{
	padding-bottom: 100px;
}



/** Start Buttons **/
@keyframes MoveScaleUpInitial {
	to {
		transform: translate3d(0,-105%,0) scale3d(1,2,1);
		opacity: 0;
	}
}

@keyframes MoveScaleUpEnd {
	from {
		transform: translate3d(0,100%,0) scale3d(1,2,1);
		opacity: 0;
	}
	to {
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}


.main_btn {
	background: var(--26);
	padding: 7px 11px 10px 19px;
	border-radius: 30px;
	color: var(--white);
	display: inline-block;
	border: 1px solid var(--26);
	text-align: center;
	overflow: hidden;
	position: relative;
	font-weight: 500;
	transition: .5s;
	color: var(--white)
}
.main_btn:hover,
.main_btn:focus{
	color: var(--white)
}
.main_btn i {
	width: 40px;
	height: 40px;
	display: inline-block;
	line-height: 40px;
	background-color: var(--white);
	border-radius: 50%;
	color: var(--title);
	padding-left: ;
	margin-left: 13px;
}

/** End Buttons **/


/** Start Header **/

#mar_header{
	padding: 25px 0;
}
.site_logo{
	width: 165px;
}
.site_logo a{
	display: block;
}
.main-menu{
  display: inline-block;
}

.main-menu ul{
	padding-left: 0;
	margin-bottom: 0;
}
.main-menu li{
	display: inline-block;
	margin-left: 40px;
	position: relative;
	line-height: 35px;
}
.main-menu li a {
	text-transform: uppercase;
	font-weight: 600;
	transition: .5s;
	font-size: 14px;
	color: var(--white);
	transition: .5s;
	position: relative;
}
.main-menu li a i {
	font-size: 14px;
	padding-left: 8px;
}
.main-menu li a:hover,
.main-menu li a:focus{
	color: var(--orange);
}
.main-menu li ul.sub-menu {
	position: absolute;
	min-width: 220px;
	padding: 0 20px;
	background: #fff;
	box-shadow: 0 3px 11px #0000001a;
	max-height: 0;
	-webkit-transform-origin: 0 0 0;
	transform-origin: 0 0 0;
	left: 0;
	right: auto;
	visibility: hidden;
	overflow: hidden;
	-webkit-transition: .5s;
	transition: .5s;
	z-index: 99;
	top: 101%;
	text-align: left;
	display: block;
	border-radius: 4px;
}

.main-menu ul ul.sub-menu li{
	display: block;
	margin-left: 0;
}
.main-menu ul ul.sub-menu li a {
	font-size: 15px;
	display: block;
	line-height: 36px;
	text-transform: capitalize;
	color: var(--body);
}
.main-menu ul ul.sub-menu li a:hover{
	color: var(--orange);
}
.main-menu ul > li:hover ul.sub-menu {
	visibility: visible;
	max-height: 360px;
	padding: 15px 20px;
}

.sidebar__toggle{
	font-size: 32px;
	color: var(--title);
	cursor: pointer;
	display: flex;
}
/** End Header **/

/* Mobile Menu */
.fix-area{
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
}
.offcanvas__info {
	background: var(--white) none repeat scroll 0 0;
	border-left: 2px solid var(--dc);
	position: fixed;
	right: 0;
	top: 0;
	width: 400px;
	height: 100%;
	-webkit-transform: translateX(calc(100% + 80px));
	-moz-transform: translateX(calc(100% + 80px));
	-ms-transform: translateX(calc(100% + 80px));
	-o-transform: translateX(calc(100% + 80px));
	transform: translateX(calc(100% + 80px));
	-webkit-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	-moz-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	z-index: 99999;
	overflow-y: scroll;
	overscroll-behavior-y: contain;
	scrollbar-width: none;
	overflow: hidden;

}
.offcanvas__info::-webkit-scrollbar {
   display: none;
}

.offcanvas__info.info-open {
	opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

.offcanvas__wrapper {
	position: relative;
	height: 100%;
	padding: 30px 30px;
}
.offcanvas__top{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 20px;
}
.offcanvas__wrapper .offcanvas__content .text {
  color: var(--text);
}
.offcanvas__wrapper .offcanvas__content .offcanvas__close {
  width: 40px;
  height: 40px;
  line-height: 41px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--blue);
  position: relative;
  z-index: 9;
  cursor: pointer;
  transition: .5s;
}
.offcanvas__wrapper .offcanvas__content .offcanvas__close:hover,
.offcanvas__wrapper .offcanvas__content .offcanvas__close:focus{
  background-color: var(--yellow);	
}
.offcanvas__close button{
	border: none;
	background-color: transparent;
	padding: 0;
}
.offcanvas__wrapper .offcanvas__content .offcanvas__close i {
  color: var(--white);
}
.offcanvas__logo{
	width: 140px;
}

.offcanvas__overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #151515;
  z-index: 900;
  top: 0;
  opacity: 0;
  visibility: hidden;
  right: 0;
}

.offcanvas__overlay.overlay-open {
  opacity: 0.8;
  visibility: visible;
}

@media (max-width: 450px) {
  .offcanvas__info {
    width: 300px;
  }
}
@media (max-width: 575px) {
  .offcanvas__wrapper {
    padding: 20px;
  }
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}


.mean-container a.meanmenu-reveal {
  display: none;
}


.mean-container .mean-nav {
	background: none;
	list-style: none;
	margin: 0;
}
.mean-container .mean-bar {
  padding: 0;
  min-height: auto;
  background: none;
}

.mean-container .mean-nav > ul {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
  display: block !important;
}
.mean-container .mean-nav > ul .homemenu-items {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}
@media (max-width: 1199px) {
  .mean-container .mean-nav > ul .homemenu-items {
    flex-wrap: wrap;
  }
}
.mean-container .mean-nav > ul .homemenu-items .homemenu {
  position: relative;
}
@media (max-width: 1199px) {
  .mean-container .mean-nav > ul .homemenu-items .homemenu {
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid var(--border);
    padding: 10px;
  }
}
.mean-container .mean-nav > ul .homemenu-items .homemenu .homemenu-thumb {
  position: relative;
}
.mean-container .mean-nav > ul .homemenu-items .homemenu .homemenu-thumb .demo-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  gap: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  margin-top: 20px;
}
.mean-container .mean-nav > ul .homemenu-items .homemenu .homemenu-thumb .demo-button .theme-btn {
  padding: 12px 20px;
  color: var(--white) !important;
  width: initial;
  font-size: 16px;
  text-align: center;
  border-radius: 0;
}
.mean-container .mean-nav > ul .homemenu-items .homemenu .homemenu-thumb .demo-button .theme-btn:hover {
  color: var(--white) !important;
}
.mean-container .mean-nav > ul .homemenu-items .homemenu .homemenu-thumb::before {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 19, 19, 0)), to(#5e5ef6));
	background: linear-gradient(to bottom, rgba(99, 92, 92, 0) 0%, #252527 100%);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	content: "";
}
.mean-container .mean-nav > ul .homemenu-items .homemenu .homemenu-thumb:hover::before {
	visibility: visible;
	opacity: 1;
}
.mean-container .mean-nav > ul .homemenu-items .homemenu .homemenu-thumb:hover .demo-button {
	opacity: 1;
	visibility: visible;
	margin-top: 0;
}
.mean-container .mean-nav > ul .homemenu-items .homemenu .homemenu-thumb:hover .homemenu-btn {
	opacity: 1;
	visibility: visible;
	bottom: 50%;
	transform: translateY(50%);
}
.mean-container .mean-nav > ul .homemenu-items .homemenu .homemenu-thumb img {
	width: 100%;
}
.mean-container .mean-nav > ul .homemenu-items .homemenu .homemenu-title {
	text-align: center;
	margin: 15px auto;
	display: inline-block;
	font-size: 16px;
}

.mean-container a.meanmenu-reveal {
	display: none !important;
}

.mean-container .mean-nav ul li a {
	width: 100%;
	padding: 10px 0;
	color: var(--header);
	font-size: 16px;
	line-height: 1.5;
	font-weight: 500;
	text-transform: capitalize;
	border-bottom: 1px solid var(--dc) !important;
	border: none;
}
.mean-container .mean-nav ul li a:hover {
	color: var(--p2-clr);
}

.mean-container .mean-nav ul li a:last-child {
	border-bottom: 0;
}

.mean-container .mean-nav ul li a:hover {
	color: var(--theme2);
}

.mean-container .mean-nav ul li a.mean-expand {
	margin-top: 5px;
	padding: 0 !important;
}

.mean-container .mean-nav ul li > a > i {
	display: none;
}

.mean-container .mean-nav ul li > a.mean-expand i {
	display: inline-block;
	font-size: 18px;
}

.mean-container .mean-nav > ul > li:first-child > a {
	border-top: 0;
}

.mean-container .mean-nav ul li a.mean-expand.mean-clicked i {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transition: all 0.4s ease-in-out;
}

.mean-container .mean-nav ul li .mega-menu li a {
	height: 200px;
	width: 100%;
	padding: 0;
	border-top: 0;
	margin-bottom: 20px;
}
/** End Mobile Menu**/

/** Slider **/

.mar_slider{
	overflow: hidden;	
	position: relative;
	z-index: 1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.mar_slider:after{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background: var(--overlay);
  	opacity: .80;
	left: 0;
	top: 0;
	z-index: -1;
}
.tr_slider .swiper-wrapper{
	
}
.slider_item {
	padding: 150px 0 80px;
	position: relative;
	background-size: cover;
	z-index: 1;
	color: var(--white);
}

.slider_item h1.heading {
	color: var(--white);
	font-size: 52px;
	margin-bottom: 25px;
	line-height: 72px;
}
.slider_item h1.heading span{
	color:var(--orange)
}
.slider_item p{
	margin-bottom: 40px;
	font-size: 17px;
}
.slider_social {
	list-style-type: none;
	display: flex;
	gap: 18px;
	padding-left: 0;
	margin-bottom: 0;
	margin-top: 15px;
}
.slider_social li a {
	color: var(--white);
	font-size: 18px;
	transition: .5s;
}
.slider_social li a:hover,
.slider_social li a:focus {
	color: var(--orange);
}

.slider_image{
	width: 55%;
}
.vbtn {
	display: block;
	position: absolute;
	z-index: 99;
	left: 34%;
	bottom: 39%;
}
.vbtn img{
	width: 80px;
}

.sshape_1 {
	left: 50px;
	bottom: 30px;
	width: 180px;
}
.sshape_2 {
	right: 70px;
	top: 66px;
	width: 170px;
}
/** End Home Banner **/

/* Active Animation  */

.active_animation{
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both; 	
}	
.tr_slider .swiper-slide-active .subheading{
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
  -webkit-animation-name: fadeInDown ;
  animation-name: fadeInDown ;
  
}
.tr_slider .swiper-slide-active .heading {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  -webkit-animation-name: fadeInDown ;
  animation-name: fadeInDown ;
}

.tr_slider .swiper-slide-active p {
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
  -webkit-animation-name: fadeInDown ;
  animation-name: fadeInDown ;
}

.tr_slider .swiper-slide-active .yellow_btn {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/*
* ----------------------------------------------------------------------------------------
* Start About Section
* ----------------------------------------------------------------------------------------
*/

.about-us{
	background-size: cover;
}
.about_image{}
.abshape_1,
.abshape_2{
	width: 48px;
}
.abshape_1 {
	left: -17px;
	top: -21px;
}
.abshape_2 {
	right: -13px;
	bottom: -28px;
}
.about_content .section-heading {
	margin-bottom: 20px;
}
.about_content .main_btn {
	margin-top: 15px;
}


/*
* ----------------------------------------------------------------------------------------
* Start Features 
* ----------------------------------------------------------------------------------------
*/

.features{
	padding-top: 50px;
}
.feature_slider{
	overflow: hidden;
}
.feature_item{
	text-align: center;
	padding: 30px 20px;
	border: 1px solid var(--dc);
	border-radius: 10px;
	transition: .5s;
	margin-bottom: 30px;
}
.feature_item.swiper-slide-active{
	box-shadow: 0 14px 27px rgba(0, 0, 0, 0.03);
}
.feature_item img{
	width: 60px;
	display: inline-block;
	margin-bottom: 15px;
}
.feature_item h3{
	font-size: 20px;
}
.feature_item p{
	margin-bottom: 0;
}
.feature-pagination{
	text-align: center;
}
.feature-pagination span {
	position: relative;
	width: 10px;
	height: 10px;
	margin: 5px 10px !important;
	opacity: 1;
	background: var(--dc);
}
.feature-pagination span::after {
	content: '';
	position: absolute;
	width: 18px;
	height: 18px;
	border: 1px solid var(--dd);
	border-radius: 50%;
	left: -4px;
	top: -4px;
}
.feature-pagination span.swiper-pagination-bullet-active{
	background-color: var(--orange);
	box-shadow: 0 4px 17px rgba(0, 0, 0, 0.06);
}
.feature-pagination span.swiper-pagination-bullet-active:after{
	background: #fff;
	z-index: -1;
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
	
}

/** ----------------------------------------------------------------------------------------
* Start Programs
* ----------------------------------------------------------------------------------------
*/
.programs{
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	margin: -1px 0;
}
.programs::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('../img/bg/prog_overlay.png');
	background-repeat: no-repeat;
	background-size: cover;
	left: 0;
	top: 0;
	z-index: -1;
}
.program-image{
	position: relative;
	border:2px dashed var(--dd);
	padding: 15px;
	border-radius: 15px;
}
.program-image img{
	border-radius: 15px;
	
}
.pnumber {
	position: absolute;
	background: var(--orange);
	color: var(--white);
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	text-align: center;
	left: -13px;
	top: -13px;
	z-index: 1;
	transition: .5s;
}
.program_item:hover .pnumber{
	background-color: var(--white);
	color: var(--orange);
}
.program_content{

}
.program_content h3 {
	font-size: 22px;
	margin-bottom: 15px;
}
.program_content p {
	margin-bottom: 10px;
}
.program_content a,
.blog_btn {
	text-decoration: underline;
	color: var(--orange);
	font-weight: 600;
	text-transform: uppercase;
	font-size: 13px;
}

/*
* ----------------------------------------------------------------------------------------
* Pricing
* ----------------------------------------------------------------------------------------
*/
.pricing_item.active{
	border-color:var(--orange)
}
.pricing_item{
	border: 1px solid var(--dc);
	border-radius: 15px;
	padding: 40px 0;
	margin-bottom: 30px;
}
.pricing_item:last-child{
	margin-bottom: 0;
}
.pricing_item h3{
	font-size: 20px;
	margin-bottom: 0;
}
.pricing_item ul {
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 3px 30px;
	padding-left: 0;
	margin-bottom: 0;
}
.pricing_item ul li{
	
}
.pricing_item ul li i{
	color: var(--orange);
	padding-right: 4px;
}
.pricing_item .price {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 8px;
}
.pricing_item .price span{
	font-size: 16px;
	font-weight: 400;
}
.pricing_item.active .main_btn {
	background-color: var(--orange);
	border-color: var(--orange);
}

/*
* ----------------------------------------------------------------------------------------
* Events
* ----------------------------------------------------------------------------------------
*/

.event_slider{
	overflow: hidden;
	padding-top: 10px;
}
.event_item{
	padding-top: 5px;
	transition:.5s ;
	
}
.event_img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	position: relative;
	margin-bottom: 35px;
	background-size: cover;
	background-position: center center;
}
.event_img::before{
	width: 225px;
	height: 225px;
	border: 1px dashed var(--dc);
	border-radius: 50%;
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.event_content h4{
	font-size: 20px;
}
.event_content h4 a{
	color:var(--title);
}
.event_content h4 a:hover{
	color:var(--orange);
}
.event_content p{
	margin-bottom: 0;
}
.event_content span{
	color: var(--orange)
}

/*
* ----------------------------------------------------------------------------------------
* Team
* ----------------------------------------------------------------------------------------
*/
.team_item {
	position: relative;
	border-radius: 15px;
	border: 1px solid var(--dc);
	padding: 35px 0;
}

.team_img:after{
	content: '';
	width: 100%;
	height: 100%;
	background-color: var(--orange);
	position:absolute;
	left: 0;
	top:-50%;
	border-radius: 50%;
	opacity: 0;
	transition: .5s;
}
.team_img:before{
	content: '';
	width: 90%;
	height: 90%;
	border: 1px dashed var(--white);
	position:absolute;
	left: 0;
	top:-50%;
	border-radius: 50%;
	opacity: 0;
	transition: .5s;
	z-index: 1;

}
.team_item:hover .team_img:after{
	opacity: .8;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.team_item:hover .team_img:before{
	opacity: 1;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.team_img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	margin-bottom: 15px;
	position: relative;
	transition: .5s;
}
.team_img ul {
	position: absolute;
	left: 0;
	top:-50%;
	padding-left: 0;
	margin: 0;
	z-index: 99;
	width: 100%;
	opacity: 0;
	transition: .5s;
}
.team_img ul li {
	display: inline-block;
	margin: 0 5px;
}
.team_img ul li a{
	color: var(--title);
	display: inline-block;
	width: 28px;
	height: 28px;
	line-height: 28px;
	border-radius: 50%;
	background: var(--white);
	font-size: 14px;
}
.team_img ul li a:hover{
	color: var(--white);
	background: var(--title);
}	
.team_item:hover .team_img ul {
	opacity: 1;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.team_item p{
	margin-bottom: 0;
}
.team_item h3{
	font-size: 20px;
	margin-bottom: 5px;
}
.team_item p{
	font-size: 14px;
	color: var(--orange);
	text-transform: uppercase;
}

/*
* ----------------------------------------------------------------------------------------
* Testimonial
* ----------------------------------------------------------------------------------------
*/
.testimonial{
	position: relative;
	background-size: cover;
	z-index: 1;
	background-repeat: no-repeat;
	overflow: hidden;
}
.testimonial_images{
	overflow: hidden;
	text-align: center;
	margin-bottom: 30px;
}
.testimonial_images img{
	display: inline-block;
	border-radius: 300px;
	width: 100%;
}
.testimonial_images .swiper-slide{
	position: relative;
}
.testimonial_images .swiper-slide:after{
	content: '';
	width: 100%;
	height: 100%;
	background-color: var(--overlay);
	border-radius: 300px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.5;
	transition: .5s;
}
.testimonial_images .swiper-slide-active:after{
	opacity: 0;
}
.testimonial::after{
	content: '';
	width: 100%;
	height: 100%;
	background: var(--overlay);
  	opacity: .85;
	left: 0;
	top: 0;
	position: absolute;
	z-index: -1;
}
.testimonial_item{
	color: var(--white);
}
.testimonial_item p{
	font-size: 18px;
	font-style: italic;
	margin-bottom: 30px;
	position: relative;
	margin-bottom: 15px;
	width: 60%;
	display: inline-block;
}
.client_info h4{
	color: var(--white);
	margin-bottom: 5px;
}

.testimonial_slider{
	overflow: hidden;
}
.testimonial-pagination {
	text-align: center;
	margin-top: 9px;
}
.testimonial-pagination .swiper-pagination-bullet{
	background-color: var(--white);
}
.testimonial-pagination .swiper-pagination-bullet-active{
	background-color: var(--orange);
}

/*
* ----------------------------------------------------------------------------------------
* Counter UP
* ----------------------------------------------------------------------------------------
*/

.counterup_inner{
	border: 1px solid var(--dc);
	padding: 0 0;
	border-radius: 15px;
	background-color: var(--white);
	position: relative;
	z-index: 1;
  	background: var(--white);
}
.counter_item{
	text-align: center;
	border-right: 1px solid var(--dc);
	padding: 40px 0;;

}
.border-0{
	border: none;
}
.counter_item h3{
	font-size: 40px;
	color: var(--orange);
	margin-bottom: 5px;
}
.counter_item p{
	margin-bottom: 0;
}
.counter_shape {
	width: 130px;
	top: -45px;
	left: -45px;
}

/* ----------------------------------------------------------------------------------------
* Start Blog
* ----------------------------------------------------------------------------------------
*/
.blog_item{
	margin-bottom:30px ;	
}
.blog_img{
	border: 2px dashed var(--dd);
	border-radius: 15px;
	padding: 15px;
}
.blog_img,
.program-image {
	position: relative;
	transition: .5s;	
}
.blog_img::before,
.program-image::before{
	content: '';
	width: 100%;
	height: 100%;
	background: var(--orange);
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: .5s;
	z-index: 1;
	border-radius: 15px;
}
.program_item:hover .program-image:before{
	
}
.blog_item:hover .blog_img::before,
.program_item:hover .program-image:before{
	opacity: .8;
}
.blog_img img{
	border-radius: 15px;
}

.blog_content h3{
	font-size: 22px;
	margin-bottom: 10px;
	line-height: 32px;
}
.blog_content h3 a{
	color:var(--title);
}
.blog_content h3 a:hover{
	color:var(--orange);
}
.blog_content p{
	margin-bottom: 10px;
}
.blog_meta {
	color:var(--body);
	font-size: 15px;
	margin-bottom: 5px;
}
.blog_meta span{
	padding-right: 10px;
}
.blog_meta i{
	color:var(--orange);
	padding-right: 4px;
}

/* ----------------------------------------------------------------------------------------
* Start Clients
* ----------------------------------------------------------------------------------------
*/
.divider{
	width: 100%;
	height: 1px;
	background: var(--dc);

}
.clients{
	padding-bottom: 60px;
}
.client_slider{
	overflow: hidden;
	padding-top: 50px;
}

/* ----------------------------------------------------------------------------------------
* Start Clients
* ----------------------------------------------------------------------------------------
*/

/*	----------------------------------------------------------------------------------------
* Start Footer
* ----------------------------------------------------------------------------------------
*/
.mar_footer{
	background: var(--footer);
	padding: 80px 0 30px;
	color: var(--white);
	position: relative;
	z-index: 1;
}
.footer-title{
	font-size: 18px;
	color: var(--white);
	margin-bottom: 25px;
	position: relative;
	text-transform: uppercase;
}
.mar_footer a{
	color: var(--white);
	transition: .5s;
}

/*
* ----------------------------------------------------------------------------------------
* Shopping Cart
* ----------------------------------------------------------------------------------------
*/


.table.shopping-summery {
	background: var(--white);
	border: 1px solid #eee;
	-webkit-border-radius:0;
	border-radius: 0;
	overflow:hidden;
	margin-bottom: 0;
}
.shopping-cart {
	background: var(--white);
}
.shopping-summery thead .main-hading{
	padding:0px 50px;
}
.shopping-summery thead {
}
.shopping-summery thead tr th {
	border: none;
	font-weight: 600;
	text-align: left;
	padding: 20px;
	background: var(--f7);
}
.shopping-summery tbody tr {
	margin-top: 20px;
}
.shopping-summery tbody tr img {
	border-radius: 4px;
	width: 100px;
}
.shopping-summery tbody tr:last-child{
}
.woocommerce-cart-form .product-name {
	align-self: center !important;
}
.shopping-summery tbody .product-name a {
	font-weight: 600;
	color: #282828;
	font-weight: 600;
	font-size: 16px;
}
a.pthumb{
	flex-basis: 75px;
    flex-grow: 0;
    flex-shrink: 0;
	height: 75px;
	display: inline-block;
	background-size: cover;
	border-radius: 50%;
}
.shopping-cart .table p {
	font-size: 14px;
	color: #666;
}
.shopping-summery tbody .product-name a:hover{
	color:var(--blue);
}
.shopping-summery tbody .product img {
	max-width: 70px;
	border-radius: 100%;
	max-height: 65px;
	border: 1px solid #e6e6e6;
	padding: 4px;
}
.shopping-summery tbody .product:hover img{
	border-color:var(--blue);
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	transform:rotate(360deg);
}
.shopping-cart .border{
	
}
.shopping-cart .table .remove-icon{
	font-size:16px;
}
.shopping-cart .table td {
	vertical-align: middle;
	padding: 20px;
}
.shopping-summery tbody .price {
	text-align: center;
	font-weight: 600;
	color: var(--yellow);
}
.shopping-summery tbody .price span{}
.shopping-cart tbody .qty .input-group {
	width: 100px;
	display: inline-block;
}
.shopping-cart .qty .button {
	display: inline-block;
	position: absolute;
	top: 0;
}
.shopping-cart .qty .button.minus{
	left:0;
	border-radius:0;
	overflow:hidden;
}
.shopping-cart .qty .button.plus {
	right: 0;
	border-radius:0;
	overflow:hidden;
}
.shopping-cart .qty .button .btn {
	padding: 0;
	width: 44px;
	height: 47px;
	line-height: 47px;
	border-radius: 0px;
	background: transparent;
	color: #282828;
	border: none;
	font-size: 20px;
}
.shopping-cart .qty .button .btn:hover{
	color:var(--blue);
}
.shopping-cart .qty .input-number {
	border: 1px solid #eceded;
	width: 100%;
	text-align: center;
	height: 47px;
	border-radius:0;
	overflow: hidden;
	padding: 0px 35px;
}
.shopping-summery tbody .total-amount {
	text-align: center;
}
.shopping-summery tbody .total-amount span{}
.shopping-summery tbody .action {
	text-align: center;
}
.shopping-summery tbody .action a:hover{
	color:var(--blue);
}
.shopping-cart .total-amount{
	margin-top:50px;
}
.woocommerce-cart-form .actions .bottom-cart {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.woocommerce-cart-form .actions .coupon {
	flex: 0 0 50%;
	display: flex;
}
.woocommerce-cart-form .product-name {
	display: inline-block;
	margin-left: 24px;
	line-height: 20px;
}
#coupon_code {
	border: 1px solid #eee;
	padding: 5px 15px;
	font-size: 16px;
	border-radius: 4px 0 0 4px;
}
#coupon_code:focus{
	border-color: var(--blue);
	outline: none;
}
.woocommerce-cart-form .coupon button, 
.woocommerce-cart-form .coupon input[type="submit"] {
	background: var(--blue);
	border: 1px solid var(--blue);
	color: var(--white);
	padding: 8px 16px;
	border-radius: 0 4px 4px 0;
	font-weight: 600;
	transition: .5s;
	font-size: 14px;
}
.woocommerce-cart-form .coupon button:hover,
.woocommerce-cart-form .coupon button:focus,
.woocommerce-cart-form .coupon input[type="submit"]:hover,
.woocommerce-cart-form .coupon input[type="submit"]:focus{
	border-color: var(--yellow);
	background: var(--yellow);
}
.btn_border {
	border: 2px solid #002935;
	color: #222;
	padding: 8px 25px;
	font-weight: 600;
	border-radius: 4px;
	transition: .5s;
}

.btn_border:hover,
.btn_border:focus{
	background: var(--blue);
	border-color: var(--blue);
	color: var(--white);
}
.cart-collaterals {
	padding: 30px;
	/* box-shadow: var(--shadow-3); */
	background: var(--gray);
	border: 1px solid var(--dd);
	border-radius: 8px;
}
.cart-collaterals h2 {
	font-size: 24px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #eee;
}
.cart-collaterals .shop_table_responsive > div {
	display: flex;
	padding: 10px 0;
	align-items: center;
}
.cart-collaterals .shop_table_responsive > div > * {
	flex: 1;
}
.cart-collaterals .bt{
	text-align: center;
}
.shop_table .amount,
.shop_table .woocommerce-shipping-destination{
	color: #222;
}
.cart-subtotal .amount{
	font-weight: 600;
}

/*
* ----------------------------------------------------------------------------------------
* Start Checkout Page
* ----------------------------------------------------------------------------------------
*/

.shop.checkout {
	background: var(--white);
}
.shop.checkout .checkout-form h2{
	margin-bottom: 40px;
	font-size: 24px;
}
.shop.checkout .checkout-form h2 {
	font-size: 25px;
	color: #333;
	font-weight: 700;
	line-height: 27px;
}
.shop.checkout .checkout-form p {
	font-size: 16px;
	color: #333;
	font-weight: 400;
	margin-top: 12px;
	margin-bottom: 30px;
}
.shop.checkout .form{}
.shop.checkout .form .form-group {
	margin-bottom: 25px;
}
.shop.checkout .form .form-group label,
.register label,
.login label{
	color:var(--33);
	position:relative;
	cursor: pointer;
}
.register .form-group{
	margin-bottom: 1.5rem !important;
}
.register label span,
.login label span,
.shop.checkout .form .form-group label span {
	color: #ff2c18;
	display: inline-block;
	position: absolute;
	right: -12px;
	top: 4px;
	font-size: 16px;
}
.shop.checkout .form .form-group input {
	background-color: var(--white);
	border: 1px solid #e5e5e5;
	color: #555;
	font-size: 15px;
	height: 50px;
	outline: 0;
	padding: 12px 19px;
	width: 100%;
	margin-bottom: 25px;
	border-radius: var(--bs-border-radius);
}
.shop.checkout .form .form-group input:focus{
	outline: none;
	border-color: var(--blue);
}
.shop.checkout .nice-select {
	width: 100%;
	height: 50px;
	line-height: 50px;
	margin-bottom: 25px;
	background-color: var(--white);
	border: 1px solid #e5e5e5;
	border-radius: var(--bs-border-radius);
}
.shop.checkout .nice-select .list {
	width: 100%;
	height: 300px;
	overflow: scroll;
}
.shop.checkout .nice-select .list li{}
.shop.checkout .nice-select .list li.option{
	color:#333;
}
.shop.checkout .nice-select .list li.option:hover{
	background:#F6F7FB;
	color:#333;
}
.shop.checkout .form .address input {
	margin-bottom: 15px;
}
.shop.checkout .form .address input:last-child{
	margin:0;
}
.shop.checkout .form .create-account {
	margin: 0;
}
.shop.checkout .form .create-account input {
	width: auto;
	display: inline-block;
	height: auto;
	border-radius: 100%;
	margin-right: 3px;
}
.shop.checkout .form .create-account label {
	display: inline-block;
	margin: 0;
}
.shop.checkout .order-details {
	padding: 30px 10px;
	background: var(--gray);
	border: 1px solid var(--dd);
	border-radius: 8px;
}
.shop.checkout .single-widget {
	margin-bottom: 25px;
	padding-left: 0;
}
.shop.checkout .single-widget:last-child{
	margin:0;
}
.shop.checkout .single-widget h2 {
	position:relative;
	font-size: 24px;
	font-weight: 600;
	padding: 10px 30px 0;
	text-transform: capitalize;
	color: #222;
}
.shop.checkout .single-widget .content ul{
	margin-top:30px;
}
.shop.checkout .single-widget .content ul li {
	display: block;
	padding: 0px 30px;
	font-weight: 500;
	margin-bottom: 12px;
}
.shop.checkout .single-widget .content ul li span{
	display:inline-block;
	float:right;
}
.shop.checkout .single-widget .content ul li.last {
	padding-top: 12px;
	border-top: 1px solid #ebebeb;
	display: block;
	font-weight: 600;
	color: var(--title);
}
.shop.checkout .single-widget .checkbox {
	text-align: left;
	margin: 0;
	padding: 0px 30px;
	margin-top:30px;
}
.shop.checkout .single-widget .checkbox input{
	margin-top: 9px;
}
.shop.checkout .single-widget .checkbox .form-check {
	margin-bottom: 1px;
	background: var(--fa);
	width: auto;
	display: block;
	padding: 8px 06px;
	overflow: hidden;
	border-radius: 4px;
}
.shop.checkout .single-widget .checkbox label {
	color: #555555;
	position: relative;
	margin-top: -5px;
	font-weight: 500;
	display: block;
	margin-bottom: 15px;
	margin-left: 27px;
}
.payment-methods .checkbox input {
	margin-top: 3px!important;
	margin-left: 0;
}
.payment-methods .form-check-input:checked {
	background-color: var(--blue);
	border-color: var(--blue);
}
.shop.checkout .single-widget .checkbox label:last-child{
	margin-bottom:0;
}
.shop.checkout .single-widget .checkbox label:hover{
	cursor:pointer;
}
.shop.checkout .single-widget .checkbox label input {
	margin-right: 5px;
	display: inline-block;
}

.shop.checkout .single-widget.get-button {
	text-align: center;
	padding: 0px 35px;
}
.shop.checkout .single-widget .bg_btn{
	display: block;
}

/*
* ----------------------------------------------------------------------------------------
* End Checkout Page
* ----------------------------------------------------------------------------------------
*/
